.header {
  background: #ccc;
  text-align: center;
}

.wrapper {
  width: 960px;
  background-color: #FFF;
  margin-left:auto;
  margin-right:auto;
}

.content-left {
  float: left;
  width:300px;
  background-color: #E6E2F0;
}

.content-right {
  float: left;
  width: 660px;
  background-color: #C9CCF5;
  height: 500px;
}
