/* ===============================global css================================= */

* {
  font-family: 'Source Sans Pro', sans-serif;
}

/* ===============================Header================================= */

.header {
  width: 100%;
  display: table;
  background: #9CAFB5;
  text-align: center;
  height: 60px;
  padding: 15px 0;
}

.header .logo {
  display: table-cell;
  width: 230px;
}

.header a.export-session:hover {
  background-color: #63797C;
}

.header a.export-session {
  color: white;
  text-decoration: none;
  display: table-cell;
  width: 120px;
  height: 30px;
  background-color: #7C959B;
  vertical-align: middle;
}

.header .empty{
  display: table-cell;
  width: 60px;
}

.header .search {
  display: table-cell;
  width: 460px;
}

.header .search input.bar {
  width: 600px;
}

.header .search input.send {
  width: 60px;
}

.header .navigation{
  display: table;
  margin-left: 20px;
}

.header .navigation p {
  display: table-cell;
  width: 50px;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.header .navigation a {
  width: 50px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

.header input[type="checkbox"] {
  margin-right: 5px;
}
.header label {
  font-weight: 500;
  margin-bottom: 0;
}

.header .navigation .removed {
  background-color: #F1BCBC;
  padding: 3px 8px;
  color: #63797C;
  margin-right: 10px;
}

.header .navigation .added {
  background-color: #B8E9D2;
  padding: 3px 8px;
  color: #63797C;
  font-weight: 500;
  margin-right: 10px;
  display: table-cell;
}
/* ===============================main content================================= */

.wrapper {
  width: 1280px;
  background-color: #FFF;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  border-bottom: 2px solid #CFCFCF;
  font-weight: 500;
}

.wrapper:after {
    content:'';
    display:block;
    clear: both;
}
  /* ===============================left content================================= */

  .content-left {
    float: left;
    width:350px;
    background-color: #FAFAFA;
  }

  .content-left ul{
    list-style: none;
    background-color: #E9EFF2;
  }

  .content-left p {
    margin: 0;
  }

  .collection{
    overflow: scroll;
    padding: 0;
  }

  .revisions {
    border-bottom: 1px solid #CFCFCF;
    padding: 20px;
    display: table;
  }

  .revisions:after {
    content:'';
    display:block;
    clear: both;
  }

  .revisions:hover {
    background-color: #DFE7EA;
  }

  .revisions:hover div.data p.added {
    color: #06C673;
  }

  .revisions:hover div.data p.removed {
    color: #FF6050;
  }

  .revisions a {
    text-decoration: none;
  }

  .revisions a p:hover {
    color: #00A7CE !important;
  }

  .revisions p {
    word-break: break-word;
    color: #9CAFB5;
    font-size: 12px;
  }

  div.timestamp {
    width: 85px;
    display: table-cell;
    vertical-align: top;
  }

  div.timestamp p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }

  div.timestamp p.time {
    margin: 0;
    font-weight: 300;
  }

  div.user_comment {
    width: 200px;
    display: table-cell;
  }

  div.user_comment p.username{
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 0;
  }

  div.data{
    width: 65px
  }

  div.data p.added{
    color: #68E2A8;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  div.data p.removed{
    color: #FF8A7E;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .active-revision{
    background-color: white;
  }

  .active-revision p,
    .active-revision a {
    color: #000000;
  }

  .footer {
    height:80px;
    padding: 10px 20px;
    bottom:0;
    background:#9CAFB5;
    width: inherit;
  }

  .footer .top-stats p{
    font-size: 12px;
    font-weight: 400;
    color: #63797C;
  }

  .footer .bottom-stats{
    display: table;
    width: inherit;
  }

  .footer .edits-per-user,
    .footer .time-between-edits {
    display: table-cell ;
    font-size: 12px;
    font-weight: 400;
    color: white;
    width: 50%;
  }

  .footer .number {
    font-size: 18px;
    font-weight: 700;
  }


  /* ===============================right content================================= */

  .content-right {
    float: left;
    width: 928px;
    overflow: scroll;
    padding:0;
  }

  /* ===============================wikinizer================================= */

  div.wikidiff p {
    padding-top: 40px;
    margin: 0;
  }

  div.wikidiff span.additions {
    float: left;
    background-color: #B8E9D2;
  }

  div.wikidiff span.subtractions {
    float: left;
    background-color: #F1BCBC;
  }

  table.metadata.plainlinks.ambox.ambox-content.ambox-multiple_issues.compact-ambox {
    display: none;
  }

  table.infobox.vevent {
    max-width: 22em;
    border: 1px solid #aaa;
    padding: 0.2em;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
  }

  h3.page_title {
    font-family: "Times New Roman";
    font-size: 35px;
  }

  div.wikidiff table, th, td {
    background-color: #FAFAFA;
    border: 1px solid #C5C5C5 !important;
    padding: 5px;
  }

  div.wikidiff {
    padding: 10px 60px;
  }

  div#toc {
    background-color: #FAFAFA;
  }

  div#toc ul {
    list-style: none;
  }

// ===== animations ==========================================================

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
