.content-left
  .collection(leftHeight ng-style="styleleft()")
    .revisions(ng-repeat='revision in revisions track by $index'
      ng-class="{ 'active-revision': currentRevId == revision.revid }")

      .timestamp
        p
          {{revision.timestamp | date:'mediumDate'}}
        p.time
          {{revision.timestamp | date:'shortTime'}}
      .user_comment
        a(href="/User:{{revision.user}}")
          p.username
            {{revision.user}}
        a(href="{{ 'p.revision' | routeSegmentUrl: {page: pageName, revId: revision.revid + '-' + revision.parentid} }}")
          p.comment(ng-if="revision.comment.length > 0")
            {{revision.comment}}
          p.comment(ng-if="revision.comment.length <= 0")
            |Comment was not entered.
      .data
        p.added
          |+{{revision.size}}
        p.removed
          |-{{revision.size}}
  .footer
    .top-stats
      P
        |500 edits by 16 people since Feb 22 2014
    .bottom-stats
      .edits-per-user
        p
          |Edits per user
        p.number
          |3.9
      .time-between-edits
        p
          |Time between edits
        p.number
          |0.9 Days

.content-right(app-view-segment="1" rightHeight ng-style="styleright()")

