.wrapper
  .header
    .logo
      a(href="/")
        img(src="/img/WW-Logo-Header%402x.png")
      a(href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block'")
        img(src="/img/WIKIWASH-Logo-Header%402x.png")
    a.export-session(href="#" ng-click="getDiff(revision.revid)") Export Session
    .empty
    .search
      form(ng-submit="getNewPage()")
        input.bar(type="text" ng-model="pageName")
    .navigation
      p Show:
      .removed
        input(type="checkbox" name="removed" id="removed" ng-model="showRemoved")
        label(for="removed") Removed
      .added
        input(type="checkbox" name="added" id="added" ng-model="showAdded")
        label(for="added") Added

      a.prev-next(href="" ng-click="decNextEdit()") Prev
      a.prev-next(href="" ng-click="incNextEdit()") Next

  .content-left
    .collection(fixed-height offset="140")
      .revisions(ng-repeat='revision in revisions track by $index'
        ng-class="{ 'active-revision': currentRevId == revision.revid }"
        class="{{$index == 0 ? 'wow fadeInDown' : ''}}")

        .timestamp
          p {{revision.timestamp | date:'shortTime'}}
          p.date {{revision.timestamp | date:'mediumDate'}}
        .user_comment
          a(href="{{ 'p.revision' | routeSegmentUrl: {page: pageName, revId: revision.revid + '-' + revision.parentid} }}")
            p.username {{revision.user}}
          a(href="{{ 'p.revision' | routeSegmentUrl: {page: pageName, revId: revision.revid + '-' + revision.parentid} }}")
            p.comment(ng-if="revision.comment.length > 0") {{revision.comment}}
            p.comment(ng-if="revision.comment.length <= 0") Comment was not entered.
        .data
          p.added {{revision.added ? "+" + revision.added : ''}}
          p.removed {{revision.removed ? "-" + revision.removed : ''}}
    .footer
      .top-stats
        p {{revisions.length}} edits by {{totalUsers}} people since {{ firstEditDate | date: 'mediumDate'}}
      .bottom-stats
        .edits-per-user
          p Edits per user
          p.number {{editsPerUser}}
        .time-between-edits
          p Time between edits
          p.number {{timeBetweenEdits}} Hours

  .ww-loading(ng-show="loading")
    img.animated-infinite.zoomOutRight(src="/img/WIKIWASH-W1-Loading.png")
    img.animated-infinite.zoomOutLeft(src="/img/WIKIWASH-W2-Loading%402x.png")

  .content-right(app-view-segment="1" fixed-height offset="60" ww-scroll)

.about-popup(id="light")
  .popup-header
    .title.clearfix
      p Why Wikiwash?
    .close.clearfix
      a(href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none'") X
  .content
    p Lorem ipsum dolor sit amet, oratio percipit delicatissimi vel ut. Prima mandamus conclusionemque at mea, an putent ornatus suscipit his, mentitum referrentur cum ea. Mei at partem ancillae tincidunt. Ut eum simul aperiri, te populo mucius utroque quo, tantas blandit te usu. At vim elitr ludus perpetua, duo no recteque dignissim elaboraret. Vel epicuri adipiscing ut, ad quo vivendo fuisset. Vis ut enim dicit ancillae, et modo accusamus sed.
  .images
    a(href="http://metronews.ca/" target="_blank")
      img.metro-logo(src="/img/Wikiwash-Metro-Logo%402x.png")
    a(href="http://www.theworkinggroup.ca/" target="_blank")
      img.twg-logo(src="/img/Wikiwash-TWG-Logo%402x.png")
