.header
  .logo
    a(href="/")
      img(src="/img/WIKIWASH-Logo-Header%402x.png")
  .navigation
    .search
      form(ng-submit="getNewPage()")
        input.bar(type="text" ng-model="pageName")
    p Show:
    .removed
      input(type="checkbox" name="removed" id="removed" ng-model="showRemoved")
      label(for="removed") Removed
    .added
      input(type="checkbox" name="added" id="added" ng-model="showAdded")
      label(for="added") Added
    a.button.about-button(href="",ng-click="showModal=!showModal",ng-class="{active: showModal}").
      About
