.wrapper-splash
  .modo
    p Track Wikipedia edits in real time.
    p Follow breaking stories as they are written.
    .about
      a(href="/docs" target="_self") HOW TO USE WIKIWASH
      span.light= " | "
      a(href="" ng-click="showModal = !showModal") WHAT IS WIKIWASH?
  .logo-splash
    img(src="/img/WIKIWASH-Logo-HomeScreen%402x.png")
  .search-splash
    input.button(type='submit' value='WASH' ng-click='submit()')
    input.bar(type="text" placeholder="Paste a Wikipedia URL to wash" ng-model='pageName' ng-keyup="$event.keyCode == 13 && submit()")
  .search-suggestions
    p Not sure which article to wash? Try looking at Wikipedia's most-read articles from the last hour:
    ul
      li(ng-repeat='suggestion in suggestions | limitTo:15')
        a(href='/{{suggestion.url}}') {{ suggestion.title }}
  .footer-splash
    social-buttons

    p Wikiwash is brought to you by:
    a(href="http://metronews.ca/" target="_blank")
      img.metro-logo(src="/img/logo-metro.png")
    a(href="http://twg.ca/" target="_blank")
      img.metro-logo(src="/img/logo-twg.png")
    a(href="http://www.centerforinvestigativereporting.org/" target="_blank")
      img.metro-logo(src="/img/logo-cir.png")
    a(href="http://google.com/" target="_blank")
      img.metro-logo(src="/img/logo-google.png")

.overlay(ng-show="showModal" ng-click="showModal = !showModal")
include ./about-modal
