doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    title WikiWash

    link(rel="stylesheet" type="text/css" href="/css/vendor.css")
    link(rel="stylesheet" type="text/css" href="/css/application.css")
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css')

    script(src="/js/vendor.js" type="text/javascript")
    script(src="/js/application.js" type="text/javascript")
    script(src="/js/templatescache.js" type="text/javascript")

  body(ng-app='wikiwash')
    .wrapper
      .header
        .logo
          img(href="./assets/WW-Logo-Header@2x.png")
        a.export-session(href="#" ng-click="getDiff(revision.revid)")
            |Export Session
        .empty
        .search
          input.bar(type="text" ng-model='pageName')
        .navigation
          p
            |Show:
          .removed
            input(type="checkbox",name="removed", id="removed", checked)
            label(for="removed")
              |Removed
          .added
            input(type="checkbox",name="added", id="added", checked)
            label(for="added")
              |Added
          p.prev-next(ng-click="getDiff(revision.revid)")
            |Prev
          p.prev-next(ng-click="getDiff(revision.revid)")
            |Next

      .content(app-view-segment="0")
